body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-bold{
    font-size: 45px;
    color: blue;
    font-weight: bold;
}

.orange-color{
    color: orange;
}
.half-width{
    width: 40%;
    margin: 2%;
    padding: 2%;
    float: left;
    
}
.half-width img{
    width: 70%;

}
.top-header{
    background-image: url("images/top-banner.png");
    height: 200px;
    background-repeat: no-repeat;
}
.three-width{
    width: 25%;
    margin: 2%;
    padding: 2%;
    float: left;
}
