body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-bold{
    font-size: 45px;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.orange-color{
    color: orange;
}
.half-width{
    width: 40%;
    margin: 2%;
    padding: 2%;
    float: left;
    
}
.half-width img{
    width: 70%;

}
.top-header{
    background-image: url("images/top-banner.png");
    height: 200px;
    background-repeat: no-repeat;
}
.three-width{
    width: 25%;
    margin: 2%;
    padding: 2%;
    float: left;
    box-shadow: 10px 10px 45px lime;
    height: 215px;
    border-radius: 15px;
    border-left: 5px solid;
    border-image: linear-gradient(180deg,lime,green);
    border-image-slice: 1;
}
.position-color{
    color: salmon;
}
.education-box{
    box-shadow: 10px 10px 45px yellow;
    border-radius: 15px;
    border-left: 5px solid;
    border-image: linear-gradient(180deg,yellowgreen,yellow);
    border-image-slice: 1;
}
.education-area{
    height:100%;
    width: 100%;
    
}
.education-word{
    text-align: center;
    padding-top: 25%;
    
    }
    h2{
        text-align: center;
        color: blue;
    }
    .skill-area{
        height: 100%;
        width: 100%;
    }
    .personal-area{
        text-align: center;
        
        

    }
    .personal-color{
        font-size: 45px;
        color: blue;
        font-weight: bold;
    }
